/* ? google fonts */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("./style/clash-display-font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .max-w-screen {
    @apply max-w-[100vw];
  }
}
@layer components {
  .-z-1 {
    @apply z-[-1];
  }

  .h-screen {
    height: 100vh;
    height: 100svh;
  }
  .min-h-screen {
    min-height: 100vh;
    min-height: 100svh;
  }
  .max-h-screen {
    max-height: 100vh;
    max-height: 100svh;
  }

  .h-navbar {
    @apply h-[var(--navbar-height,4rem)];
  }

  .mt-navbar {
    @apply mt-[var(--navbar-height,4rem)];
  }
  .pt-navbar {
    @apply pt-[var(--navbar-height,4rem)];
  }

  .btn {
    @apply inline-flex py-4 px-10 text-p1/p1 font-bold bg-dark text-white rounded-full transition-all text-center justify-center;

    &-white {
      @apply bg-white text-dark;
    }
    &:hover {
      @apply bg-yellow text-dark;
    }
  }
}

html {
  @apply [--navbar-height:3.125rem] md:[--navbar-height:5rem] 2xl:[--navbar-height:6.5rem];
  @apply scroll-smooth;
  @apply scroll-pt-[var(--navbar-height,4rem)];
}
body,
header,
main,
footer {
  @apply relative;
}
body {
  @apply font-serif text-dark;
  @apply grid min-h-screen grid-cols-1;
  @apply grid-rows-[1fr_auto];
  /* ? for static header */
  /* @apply grid-rows-[auto_1fr_auto]; */
}
header {
  @apply fixed top-0 left-0 z-20 w-full;
}
main {
  @apply grid grid-flow-row mt-navbar;
}
footer {
  @apply z-10;
}

h1 {
  @apply text-h1/h1 font-sans font-medium;
}
h2 {
  @apply text-[2rem]/[2.4rem] sm:text-[3rem]/[3.6rem] md:text-h2/h2 font-sans font-medium;
}
h3 {
  @apply text-[1.5rem]/[1.65rem] sm:text-[1.75rem]/[1.925rem] md:text-h3/h3 font-sans font-medium;
}
h4 {
  @apply text-[1.125rem]/[1.6875rem] sm:text-[1.5rem]/[2.25rem] md:text-h4/h4 font-sans font-medium;
}
h5 {
  @apply text-h5/h5 font-sans font-medium;
}

.navbar {
  @apply h-navbar flex items-center justify-between;
}
.navbar-end-link {
  @apply relative font-semibold text-dark text-p2/p2 before:content-[""] before:absolute before:w-0 before:top-full before:left-0 before:h-[3px] before:bg-transparent hover:before:bg-yellow hover:before:w-full before:transition-all;
}
.navbar-end {
  @apply hidden md:flex gap-8;
}
.navbar-menu {
  @apply absolute inset-0 invisible w-full h-fit -translate-y-full pt-navbar bg-white -z-1;

  &__content {
    @apply container grid w-full pt-10 pb-[6.25rem] bg-white overflow-y-auto place-content-stretch;
  }
}

/* ? css mobile menu */
/* html:not(:has(.navbar-toggle:checked)),
body:not(:has(.navbar-toggle:checked)) {
  @apply overflow-hidden;
}
.navbar:not(:has(.navbar-toggle:checked)) .navbar-menu {
  @apply visible transition-transform translate-y-0;
} */

.swap {
  @apply relative cursor-pointer;
  .swap-on {
    @apply hidden;
  }
  .swap-off {
    @apply block;
  }
  input[type="checkbox"] {
    @apply absolute inset-0 opacity-0 w-full h-full;
  }

  &:has(input[type="checkbox"]:checked) {
    .swap-on {
      @apply block;
    }
    .swap-off {
      @apply hidden;
    }
  }
}

.card-service {
  @apply relative flex flex-col items-start justify-center gap-2 md:gap-4 bg-[#FBFBFB] text-dark rounded-10 py-6 px-8 overflow-clip;

  &__number {
    @apply absolute left-0 top-1/2 -translate-y-1/2 text-dark text-[200px] opacity-5 font-sans font-medium;
  }
  &__image {
    @apply absolute bottom-0 left-0;
  }
  &__container {
    @apply absolute inset-0 pointer-events-none;
  }
  button {
    @apply mt-2 md:mt-0 z-10;
  }

  &--dark {
    @apply bg-dark text-white;
    .card-service__number {
      @apply text-[#D9D9D9]  opacity-20;
    }
  }
}

.accordion {
  @apply text-dark relative flex flex-col gap-6 py-8 border-b border-[#CDCDCD];

  input[type="radio"] {
    @apply absolute inset-0 w-full h-full opacity-0;
  }

  .accordion-content {
    @apply hidden animate-in fade-in text-p2/p2;
  }
  &:has(input[type="radio"]:checked) {
    .accordion-content {
      @apply block;
    }
  }
  &:first-of-type {
    @apply pt-0;
  }
  &:last-of-type {
    @apply pb-0 border-b-0;
  }
}

.carousel {
  @apply max-w-full md:max-w-[47.5rem] mx-auto relative px-8;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;

  &::after {
    @apply absolute left-8 md:left-4 top-[-16px] -translate-x-full -translate-y-full;
    content: "";
    background: no-repeat center/contain
      url('data:image/svg+xml,%3Csvg viewBox="0 0 33 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M16.9541 0L10.6972 24H0L9.2844 0H16.9541ZM33 0L26.7431 24H16.0459L25.3303 0H33Z" fill="%23FFD601"/%3E%3C/svg%3E%0A');
    width: 33px;
    height: 24px;
    position: absolute;
  }
}
.carousel__viewport {
  @apply overflow-hidden;
}
.carousel__container {
  @apply flex;
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.carousel__slide {
  @apply text-[1.125rem]/[1.6875rem] sm:text-[1.5rem]/[2.25rem] md:text-h4/h4  font-medium font-sans;
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.carousel__controls {
  @apply flex items-center justify-center mt-10;
}
.carousel__dots {
  @apply flex flex-wrap justify-end items-center gap-4;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.carousel__dot {
  @apply w-2 h-2 bg-dark rounded-full;
  appearance: none;
  touch-action: manipulation;
}
.carousel__dot--selected {
  @apply bg-yellow;
}

.input {
  @apply bg-black border border-white/70 focus-visible:border-white focus-visible:text-white rounded-lg py-3 px-4 text-white placeholder:text-white/70 invalid:border-error invalid:text-error disabled:opacity-20 outline-none text-p1/p1 transition-none;
}

.checkbox {
  @apply relative appearance-none w-8 h-8 border border-white rounded-lg after:content-[""] after:absolute after:inset-0.5 after:bg-transparent checked:after:bg-yellow after:rounded-md after:transition-all flex-shrink-0;
}