/* ? google fonts */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("./style/clash-display-font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .max-w-screen {
    @apply max-w-[100vw];
  }
}
@layer components {
  .-z-1 {
    @apply z-[-1];
  }

  .h-screen {
    height: 100vh;
    height: 100svh;
  }
  .min-h-screen {
    min-height: 100vh;
    min-height: 100svh;
  }
  .max-h-screen {
    max-height: 100vh;
    max-height: 100svh;
  }

  .h-navbar {
    @apply h-[var(--navbar-height,4rem)];
  }

  .mt-navbar {
    @apply mt-[var(--navbar-height,4rem)];
  }
  .pt-navbar {
    @apply pt-[var(--navbar-height,4rem)];
  }

  .btn {
    @apply inline-flex py-4 px-10 text-p1/p1 font-bold bg-dark text-white rounded-full transition-all text-center justify-center items-center hover:bg-yellow hover:text-dark min-w-[15rem];
  }
  .btn-white {
    @apply bg-white text-dark hover:bg-yellow hover:text-dark;
  }
}

html {
  @apply [--navbar-height:3.125rem] sm:[--navbar-height:5rem] 2xl:[--navbar-height:6.5rem];
  @apply scroll-smooth;
  @apply scroll-pt-[var(--navbar-height,4rem)];
}
body,
header,
main,
footer {
  @apply relative;
}
body {
  @apply font-serif text-dark;
  @apply grid min-h-screen grid-cols-1;
  @apply grid-rows-[1fr_auto];
  /* ? for static header */
  /* @apply grid-rows-[auto_1fr_auto]; */
}
header {
  @apply fixed top-0 left-0 z-20 w-full;
}
main {
  @apply mt-navbar;
}
footer {
  @apply z-10;
}

h1 {
  @apply text-[3rem]/[3.3rem] sm:text-[5.5rem]/[6rem] 2xl:text-h1/h1 font-sans font-medium;
}
h2 {
  @apply text-[2rem]/[2.4rem] sm:text-[3rem]/[3.6rem] 2xl:text-h2/h2 font-sans font-medium;
}
h3 {
  @apply text-[1.5rem]/[1.65rem] sm:text-[1.75rem]/[1.925rem] 2xl:text-h3/h3 font-sans font-medium;
}
/* h4 {
  @apply text-[1.125rem]/[1.6875rem] sm:text-[1.5rem]/[2.25rem] 2xl:text-h4/h4 font-sans font-medium;
} */
h4 {
  @apply text-[1.5rem]/[2.25rem] 2xl:text-h4/h4 font-sans font-medium;
}
h5 {
  @apply text-h5/h5 font-sans font-medium;
}
input[type="radio"] {
  @apply rounded-10 outline-none;
}
.header-navbar {
  @apply bg-white z-50;
}
.navbar {
  @apply h-navbar flex items-center justify-between;
}
.navbar-end-link {
  @apply relative font-semibold text-dark text-p2/p2 before:content-[""] before:absolute before:w-0 before:top-full before:left-0 before:h-[3px] before:bg-transparent hover:before:bg-yellow hover:before:w-full before:transition-all;
}
.navbar-end {
  @apply hidden sm:flex gap-8;
}
.swap {
  @apply sm:hidden;
}
.navbar-menu {
  @apply absolute sm:hidden inset-0 invisible w-full h-screen -translate-y-full pt-navbar bg-white -z-1;

  &__content {
    @apply container grid w-full pt-10 pb-[6.25rem] bg-white overflow-y-auto place-content-stretch;
  }
}

/* ? css mobile menu */
/* html:not(:has(.navbar-toggle:checked)),
body:not(:has(.navbar-toggle:checked)) {
  @apply overflow-hidden;
}
.navbar:not(:has(.navbar-toggle:checked)) .navbar-menu {
  @apply visible transition-transform translate-y-0;
} */

.swap {
  @apply relative cursor-pointer;
  .swap-on {
    @apply hidden;
  }
  .swap-off {
    @apply block;
  }
  input[type="checkbox"] {
    @apply absolute inset-0 opacity-0 w-full h-full;
  }

  &:has(input[type="checkbox"]:checked) {
    .swap-on {
      @apply block;
    }
    .swap-off {
      @apply hidden;
    }
  }
}

.card-service {
  @apply relative flex flex-col items-start justify-center gap-2 md:gap-4 bg-gray text-dark rounded-10 py-6 px-8 overflow-clip text-p2/p2 min-h-[7.5rem] transition-all;

  &__number {
    @apply absolute left-0 top-1/2 -translate-y-1/2 text-[200px] opacity-5 font-sans font-medium;
  }
  &__image {
    @apply absolute inset-0 object-cover w-full h-full left-0 text-dark/[7%];
  }
  &__container {
    @apply absolute inset-0 pointer-events-none;
  }
  button {
    @apply mt-2 md:mt-0 z-10;
  }

  &.card-service--dark {
    @apply bg-dark text-white;
    .card-service__number {
      @apply text-[#D9D9D9]  opacity-20;
    }
    .btn {
      @apply btn-white;
    }
    .card-service__image {
      @apply absolute bottom-0 left-0 text-white/[10%];
    }
  }
}

.accordion {
  @apply text-dark relative grid grid-cols-1 gap-0 py-8 border-b border-[#CDCDCD] transition-all;
  grid-template-rows: auto 0fr;

  input[type="radio"] {
    @apply absolute inset-0 w-full h-full opacity-0;
  }
  .accordion-content {
    @apply invisible min-h-0 animate-in fade-in text-p2/p2 overflow-hidden;
  }
  &:has(input[type="radio"]:checked) {
    @apply gap-6;
    grid-template-rows: auto 1fr;

    .accordion-content {
      @apply visible min-h-fit;
    }
  }
  &:first-of-type {
    @apply pt-0;
  }
  &:last-of-type {
    @apply pb-0 border-b-0;
  }
}

.carousel--quotes {
  @apply max-w-full md:max-w-[47.5rem] mx-auto relative px-8;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;

  &::after {
    @apply absolute left-8 md:left-4 top-[-16px] -translate-x-full -translate-y-full;
    content: "";
    background: no-repeat center/contain
      url('data:image/svg+xml,%3Csvg viewBox="0 0 33 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M16.9541 0L10.6972 24H0L9.2844 0H16.9541ZM33 0L26.7431 24H16.0459L25.3303 0H33Z" fill="%23FFD601"/%3E%3C/svg%3E%0A');
    width: 33px;
    height: 24px;
    position: absolute;
  }

  .carousel__viewport {
    @apply overflow-hidden;
  }
  .carousel__container {
    @apply flex;
    backface-visibility: hidden;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .carousel__slide {
    @apply text-[1.125rem]/[1.6875rem] sm:text-[1.5rem]/[2.25rem] md:text-h4/h4  font-medium font-sans;
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .carousel__controls {
    @apply flex items-center justify-center mt-10;
  }
  .carousel__dots {
    @apply flex flex-wrap justify-end items-center gap-4;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }
  .carousel__dot {
    @apply w-2 h-2 bg-dark rounded-full;
    appearance: none;
    touch-action: manipulation;
  }
  .carousel__dot--selected {
    @apply bg-yellow;
  }
}
.carousel--quotes__logos {
  @apply max-w-full md:max-w-[47.5rem] mx-auto relative px-8;
  --slide-height: 19rem;
  --slide-spacing: 2.5rem;
  --slide-size: auto;

  .carousel__viewport {
    @apply overflow-hidden;
  }
  .carousel__container {
    @apply flex;
    backface-visibility: hidden;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .carousel__slide {
    @apply text-[1.125rem]/[1.6875rem] sm:text-[1.5rem]/[2.25rem] md:text-h4/h4  font-medium font-sans;
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);

    img[data-type="active"] {
      @apply hidden;
    }
    img[data-type="inactive"] {
      @apply block;
    }
    &[data-active] {
      img[data-type="active"] {
        @apply block;
      }
      img[data-type="inactive"] {
        @apply hidden;
      }
    }
  }
}

.input {
  @apply bg-black border border-white/70  rounded-lg py-3 px-4 text-white placeholder:text-white/70  disabled:opacity-20 outline-none text-p1/p1 transition-none;
  &:not(:placeholder-shown) {
    @apply focus-visible:invalid:border-error focus-visible:invalid:text-error;
  }
  &:not(:focus-visible) {
    @apply valid:border-success valid:text-success;
  }
}

.checkbox {
  @apply relative appearance-none w-8 h-8 border border-white rounded-lg after:content-[""] after:absolute after:inset-0.5 after:bg-transparent checked:after:bg-yellow after:rounded-md after:transition-all flex-shrink-0;
}

.tabs-container {
  @apply relative z-10;

  &:has(.tab-button[data-active]) {
    .tabs {
      @apply flex border border-dark;
    }
    .tab-button::after {
      @apply rotate-180;
    }
  }
}

.tabs {
  @apply hidden absolute top-[calc(100%_-_20px)] bg-white  rounded-t-none p-2 pt-7 flex-col justify-between w-full mx-auto rounded-10 gap-2 max-w-full snap-mandatory snap-x;
  @apply sm:flex sm:static sm:flex-row sm:rounded-t-10 sm:items-center sm:p-0 sm:gap-6;
  @apply 2xl:p-2 2xl:border 2xl:gap-5 2xl:border-black;

  .tabs__devider {
    @apply bg-black/50 hidden 2xl:block flex-shrink-0;
    width: 1px;
    height: 20px;
  }
}
.tab-item {
  @apply flex 2xl:flex-col items-center gap-3 rounded-xl py-3.5 px-5 text-black relative transition-all text-center text-p3/p3 whitespace-nowrap 2xl:whitespace-normal snap-center border border-transparent hover:border-black bg-gray sm:bg-transparent;
  input[type="radio"] {
    @apply appearance-none absolute inset-0 w-full h-full cursor-pointer;
  }
  .tab-item__icon {
    @apply text-black transition-all;
  }

  &:has(input[type="radio"]:checked), &[data-active] {
    @apply bg-black text-white hidden sm:flex;
    .tab-item__icon {
      @apply text-yellow;
    }
  }
}
.carousel--tabs {
  @apply max-w-full mx-auto [--slide-spacing:1.5rem] 2xl:[--slide-spacing:2rem] [--slide-size:100%] sm:[--slide-size:auto];

  .carousel__viewport {
    @apply overflow-hidden;
  }
  .carousel__container {
    @apply flex;
    backface-visibility: hidden;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .carousel__slide {
    /* @apply text-[1.125rem]/[1.6875rem] sm:text-[1.5rem]/[2.25rem] md:text-h4/h4  font-medium font-sans; */
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .carousel__controls {
    @apply flex items-center justify-between mt-4 w-full;
  }
  .carousel__progress {
    @apply bg-dark/20 relative overflow-hidden h-[4px] w-full  rounded-full;
  }
  .carousel__progress__bar {
    @apply bg-dark absolute w-full top-0 bottom-0 -left-full rounded-full;
  }
}
.tab-button {
  @apply relative flex sm:hidden 2xl:flex-col items-center gap-3 rounded-xl py-3.5 px-5 bg-black text-white text-p3/p3 w-full z-10;
  input[type="radio"] {
    @apply appearance-none absolute inset-0 w-full h-full cursor-pointer;
  }
  .tab-button__icon {
    @apply text-yellow transition-all;
  }

 &::after {
  @apply w-6 h-6 absolute right-3 top-1/2 -translate-y-1/2 transition-all;
  content: "";
  background: no-repeat center/contain url('data:image/svg+xml,%3Csvg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6 9L12 15L18 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');
 }
}
.carousel--cards {
  @apply max-w-full mx-auto [--slide-spacing:1.5rem] 2xl:[--slide-spacing:2rem] [--slide-size:auto] md:[--slide-size:calc(100%_/_3)] 2xl:[--slide-size:304px] overflow-hidden;

  .carousel__viewport {
    /* @apply ; */
  }
  .carousel__container {
    @apply flex;
    backface-visibility: hidden;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .carousel__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .carousel__controls {
    @apply flex items-center justify-between mt-4 w-full;
  }
  .carousel__progress {
    @apply bg-dark/20 relative overflow-hidden h-[4px] w-full 2xl:h-[8px] rounded-full;
  }
  .carousel__progress__bar {
    @apply bg-dark absolute w-full top-0 bottom-0 -left-full rounded-full;
  }
  .carousel__advanced-progress {
    @apply flex items-center gap-6 md:gap-8 w-full;
  }
  .carousel__button {
    @apply flex flex-shrink-0 items-center justify-center w-10 h-10 rounded-full bg-gray text-dark transition-all hover:bg-yellow;
    touch-action: manipulation;
  }
}
.card-tab {
  @apply relative flex flex-col items-start justify-start gap-2 md:gap-4 bg-gray text-dark rounded-10 p-6 pb-16 overflow-clip text-p2/p2 w-[344px] md:w-full flex-shrink-0 md:flex-shrink snap-center h-full transition-all;

  &__image {
    @apply absolute inset-0 w-full h-full object-cover text-dark/[7%] transition-all;
  }
  &__icon {
    @apply  text-dark transition-all;
  }
  &__container {
    @apply absolute inset-0 pointer-events-none;
  }
  

  &:hover {
    @apply bg-dark text-white;
    .card-tab__image {
      @apply text-white/[10%];
    }
    
    .card-tab__icon {
      @apply text-yellow;
    }
  }
}

.card-tab-mini {
  @apply relative flex flex-col items-start justify-center gap-2 md:gap-4 bg-gray text-dark rounded-10 p-6 text-p2/p2 flex-shrink-0 w-full h-full;
  transition-delay: border-radius 0.12s;

  .card-tab-mini__content {
    @apply absolute top-full left-0 bg-gray text-dark rounded-10 p-6 pt-0 text-p2/p2 w-full rounded-t-none  overflow-hidden z-10 hidden;
    * {
      @apply line-clamp-4
    }
  }
  &:hover {
    @apply bg-dark text-white rounded-b-none ;
    /* p {
      @apply block;
    } */
    .card-tab-mini__content {
      @apply bg-dark text-white block;
    }
  }
}

.card-tab-container {
  @apply grid grid-rows-3 grid-flow-col-dense justify-end gap-4 flex-shrink-0 snap-center h-full w-auto md:w-full;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  .card-tab-mini {
    @apply w-[280px];

    &:nth-child(1) {
      grid-row: 3;
    }
    &:nth-child(2) {
      grid-row: 2;
    }
    &:nth-child(3) {
      grid-row: 1;
    }
  }
}

.carousel--cases {
  @apply max-w-full mx-auto [--slide-spacing:1.5rem] 2xl:[--slide-spacing:2rem] [--slide-size:100%] sm:[--slide-size:50%];

  .carousel__viewport {
    @apply overflow-hidden;
  }
  .carousel__container {
    @apply flex;
    backface-visibility: hidden;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .carousel__slide {
    @apply text-[1.125rem]/[1.6875rem] sm:text-[1.5rem]/[2.25rem] md:text-h4/h4  font-medium font-sans;
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .carousel__controls {
    @apply flex items-center justify-between mt-10 w-full;
  }
  .carousel__progress {
    @apply bg-dark/20 relative overflow-hidden h-[4px] sm:h-[1px] w-full sm:w-[84px] rounded-full;
  }
  .carousel__progress__bar {
    @apply bg-dark absolute w-full top-0 bottom-0 -left-full rounded-full;
  }
  .carousel__advanced-progress {
    @apply flex items-center gap-8 w-full;
  }
  .carousel__selected-snap-display--selected {
    @apply text-dark text-p2/p2 font-medium hidden sm:block;
  }
  .carousel__selected-snap-display--count {
    @apply text-dark/60 text-p2/p2 font-medium hidden sm:block;
  }
  .carousel__buttons {
    @apply hidden sm:flex gap-6;
  }
  .carousel__button {
    @apply flex flex-shrink-0 items-center justify-center w-10 h-10 rounded-full bg-gray text-dark transition-all hover:bg-yellow;
    touch-action: manipulation;
  }
}

.card-case {
  @apply relative flex flex-col items-start justify-center bg-gray text-dark rounded-10 px-6 sm:px-8 overflow-clip text-p2/p2 min-h-[7.5rem] transition-all;

 &__header {
  @apply space-y-4 mt-6 sm:mt-8 mb-8 sm:mb-12 z-10;
 }
 &__footer {
  @apply flex justify-between items-center w-full my-2 sm:my-5 gap-4;
 }
 img {
  @apply rounded-10 w-full object-cover mb-5;
 }
 hr {
  @apply bg-black w-full opacity-10;
 }
  &__image {
    @apply absolute bottom-[-10%] w-full object-cover text-dark/[7%] transition-all;
  }
  &__container {
    @apply absolute inset-0 pointer-events-none;
  }
  button {
    @apply text-p2/p2 font-semibold z-10 text-dark transition-all;
  }
  .badge-group {
    @apply flex items-center gap-4;
    .badge {
      @apply hidden 2xl:inline-flex first-of-type:inline-flex;
    }
  }

  &:hover {
    @apply bg-dark text-white;
    .card-case__image {
      @apply text-white/[10%];
    }
    button {
      @apply text-yellow;
    }
  }
}

.badge {
  @apply rounded-full border bg-white border-black inline-flex gap-2 py-2 px-4 text-black text-[0.75rem]/[1.125rem];
}

.footer-center-link {
  @apply relative font-semibold text-white text-p2/p2 before:content-[""] before:absolute before:w-0 before:top-full before:left-0 before:h-[3px] before:bg-transparent hover:before:bg-yellow hover:before:w-full before:transition-all;
}
.footer-gray-link {
  @apply opacity-60 hover:opacity-100 transition-all;
}